<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>

<div class="container mb-3">
    <div class="card mt-3">
        <div class="card-header">
            <h2>Editar artigo:</h2>
        </div>
        <div class="card-body">
            <form action="/admin/articles/update" method="POST">
                <div class="mb-3">
                    <input type="hidden" name="id" value="<%= article.id %>">

                    <label for="" class="form-label">Titulo do artigo</label>
                    <input type="text" class="form-control", name="title" value="<%= article.title %>">
                </div>

                <div class="mb-3">
                    <label class="form-label">Categoria</label>
                    <select name="category" class="form-control">
                        <% categories.forEach((category) => { %>
                            <% if(category.id == article.categoryId){ %>
                                <option value="<%= category.id %>" selected><%= category.title %></option>
                            <% } %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% }); %>
                    </select>
                </div>

                <div class="mb-3">
                    <textarea class="form-control", name="body" id="article"></textarea>
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../../partials/footer.ejs") %>

<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#article",
        plugins: "link autolink wordcount autosave print image list media preview emoticons",
        toolbar: "undo redo | bold italic underline | link image media emoticons | preview | numlist bullist | wordcount",
        language: "pt_BR",
        height: 300,
        setup: function(editor) {
            editor.on('init', function() {
                editor.setContent(`<%- article.body %>`);
            });
        }
    });
</script>           