<%- include("./partials/header.ejs") %>
<%- include("./partials/homeNavBar.ejs") %>

    <div class="container mt-4 mb-4">
 
        <% result.articles.rows.forEach((article) => { %>
            <div class="card mt-3">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body bg-light p-4 rounded">
                    <a href="/<%= article.slug %>" class="btn btn-success">Ler Artigo</a>
                </div>
            </div>
        <% }); %>

        <div class="row">
            <div class="col col-12">
                <div class="d-flex justify-content-between">

                    <% if(result.page > 2){ %>
                        <a class="btn btn-primary mt-3" href="/pages/<%= result.page - 1 %>"><<< Back</a>
                    <% }else{ %>
                        <a class="btn btn-primary mt-3" href="/"><<< Back</a>
                    <% } %>

                    <% if(result.next){ %>
                        <a class="btn btn-primary mt-3" href="/pages/<%= result.page + 1 %>">Next >>></a>
                    <% } %>

                </div>
            </div>
        </div>
        
    </div>
    
    <%- include("./partials/footer.ejs") %>